{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <a href="{% url 'create' %}" type="button" class="btn btn-outline-primary">作成</a>
    </div>
    
    {% for item in object_list%}
        <div class="container">
            <div class="alert alert-primary" role="alert">
                <p>*{{ item.title }}</p>
                <a href="{% url 'detail' item.pk %}" type="button" class="btn btn-outline-secondary">詳細</a>
                <a href="{% url 'update' item.pk %}" type="button" class="btn btn-outline-success">更新</a>
                <a href="{% url 'delete' item.pk %}" type="button" class="btn btn-outline-info">削除</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
